* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  line-height: 2.5;

}

html {
  min-height: 150%;
}

/*a:hover {
  background-color: pink;
} */
h1 {
  font-size: 2.2rem;
  font-style: italic;
  
}
h2 {
  font-size: 1.8rem;
}
h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.0rem;
}

header {
  font-size: 1.0rem;


}

header {
  width: 100%;
  margin: 0 auto;
  padding: 2.5rem;
  text-align: left;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-image: url('code33.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-position: center;
  border-radius: 2px;

}


nav a {
  margin-right: 2px;
 

}

.hero {
  font-size: 2.5rem;
  font-style:italic;
  border-radius: 13px;
}

.hero {
  padding: 2.5rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-image: url('codepic.avif');
  background-size: cover;
  background: blend mode 22px;
  border-radius: 2px;
  background-position: center;
  line-height: 25vh;

}
.photo {
  width: 100px;
  height: 100px;
  border:2px;
  border-radius: 2px;
  background-image: url(me.jpg);
  background-size: 100px;
}

.box-one {
  width: 600px;
  height: 580px;
  border: 3px solid rgb(176, 95, 176);
  padding: 2px;
  margin: auto;
  font-size: 120%;
  font-style: italic;
 
}

.card {
  display: flex;
  padding: 5px;
  width: 600px;
  height: 435px;
  border: 3px solid rgb(176, 95, 176);
  padding: 2px;
  text-align-last:right;
  font-size: 100%;
}

main {
  padding: 9.5rem;
  text-align: left;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-image: url('code33.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-position: center;
  border-radius: 2px;
  text-align: left;
  
}

.box { /*work history */
  width: 520px;
  height: 520px;
  border: 3px solid rgb(176, 95, 176);
  padding: 2px;
  margin: auto;
  font-size: 165%;
  background: url(resume.jpg);
  align-items:flex-start;
  background-size: 990px;

}

.box-two {
   font-style: italic;
}

.Contact-Me {

  display: flex;
  justify-content: center;
  text-align: justify;
  background-position: center;


}
.Box-three{
  width: 500px;
  height: 380px;
  border: 3px solid rgb(176, 95, 176);
  padding: 2px;
  margin: auto;
  font-size: 165%;
 
}
.float-left {
  float: left;
  margin-right: 25px;
}


